/* css styles */

.vid p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding: 0 !important;
}

.vid {
  margin-bottom: 10px;
}

.descript {
  font-size: 110%;
  font-style: italic;
  color: grey;
  margin-left: 10px;
}

.say {
  font-size: 90%;
  font-style: italic;
  color: blue;
  quotes: "“" "”" "‘" "’";
}
.say:before { content: open-quote; }
.say:after  { content: close-quote; }


